<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
<experiment config-class="org.anchoranalysis.anchor.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" folderOutput="../output/" inputName="stackInput">

    <logTask config-class="org.anchoranalysis.experiment.bean.log.ToConsole"/>

	<task config-class="org.anchoranalysis.plugin.mpp.experiment.bean.define.SharedObjectsMultiInputTask" energyParamsName="input_params">
		  <define suppressSubfolders="false" config-class="org.anchoranalysis.mpp.segment.bean.define.DefineOutputterMPP">
		  	  <define config-class="java.util.List" config-factory="include" filePath="namedDefinitions.xml"/>
		  </define>
	</task>
	 
   <outputEnabled config-class="org.anchoranalysis.io.output.bean.allowed.SpecificOutputAllowed">
	  	<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>stacks</item>
			<item>objects</item>
			<item>marks</item>
			<item>log</item>
			<item>errors</item>
			<item>experiment_log</item>
			<item>job_log</item>
			<item>manifest</item>
			<item>manifestExperiment</item>
			<item>objects</item>
			<item>energyStack</item>
			<item>energyStackParams</item>
		</outputsAllowed>
	</outputEnabled>
	
	
	<stacksOutputEnabled config-class="org.anchoranalysis.io.output.bean.allowed.SpecificOutputAllowed">
		<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>chnlInput</item>
			<item>stackEllipses</item>
			<item>stackObjs</item>
		</outputsAllowed>
	</stacksOutputEnabled>

	<objects config-class="org.anchoranalysis.io.output.bean.allowed.SpecificOutputAllowed">
		<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>objsSgmn</item>
		</outputsAllowed>
	</objects>
	
</experiment>
</config>