<?xml version="1.0" encoding="ISO-8859-1" ?>
<bean>
<experiment config-class="org.anchoranalysis.anchor.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" folderOutput="../output/" inputName="stackInput">

    <logReporterTask config-class="org.anchoranalysis.experiment.bean.logreporter.ConsoleLogReporterBean"/>

	<task config-class="ch.ethz.biol.cell.countchrom.experiment.SharedObjectsMultiInputTask" suppressSubfolders="false" nrgParamsName="input_params">
		  <namedDefinitions config-class="java.util.List" config-factory="include" filePath="namedDefinitions/missingIncludeFile.xml"/>
	</task>

</experiment>
</bean>