<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
<experiment config-class="org.anchoranalysis.anchor.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" folderOutput="../output/" inputName="stackInput">

	<task config-class="ch.ethz.biol.cell.imageprocessing.io.task.ANonExistentClass"/>
	
</experiment>
</config>