<?xml version="1.0" encoding="ISO-8859-1" ?>
<bean>
<experiment config-class="org.anchoranalysis.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" directoryOutput="../output/" inputName="stackInput">

    <logTask config-class="org.anchoranalysis.experiment.bean.log.ToConsole"/>

	<task config-class="org.anchoranalysis.plugin.mpp.experiment.bean.define.Develop" dictionary="input_dictionary">
		  <define suppressSubfolders="false" config-class="org.anchoranalysis.mpp.segment.bean.define.DefineOutputter">
		  	<define config-class="java.util.List" config-factory="include" filePath="config.xml"/>
		  </define>
	</task>

</experiment>
</bean>