<?xml version="1.0" encoding="ISO-8859-1" ?>
<rootTagDoesNotMatter>
<missingExperimentTagHere config-class="org.anchoranalysis.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" directoryOutput="../output/" inputName="stackInput">

	<task config-class="org.anchoranalysis.experiment.bean.task.HelloWorld"/>
	
</missingExperimentTagHere>
</rootTagDoesNotMatter>