<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
<experiment config-class="org.anchoranalysis.anchor.plugin.quick.bean.experiment.QuickExperiment" fileInput="../input/ellipseFitting.tif" folderOutput="../output/" inputName="stackInput">

	<task config-class="org.anchoranalysis.plugin.mpp.experiment.bean.define.SharedObjectsMultiInputTask" suppressSubfolders="false" nrgParamsName="input_params">
		  <namedDefinitions config-class="java.util.List" config-factory="include" filePath="namedDefinitions/namedDefinitions.xml"/>
		  <logReporter config-class="org.anchoranalysis.experiment.bean.logreporter.ConsoleLogReporterBean"/>
	</task>
	 
   <outputEnabled config-class="org.anchoranalysis.plugin.io.bean.output.allowed.SpecificOutputAllowed">
	  	<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>stackCollection</item>
			<item>objMaskCollection</item>
			<item>cfgCollection</item>
			<item>log</item>
			<item>errors</item>
			<item>experiment_log</item>
			<item>job_log</item>
			<item>manifest</item>
			<item>manifestExperiment</item>
			<item>objMaskCollection</item>
			<item>nrgStack</item>
			<item>nrgStackParams</item>
		</outputsAllowed>
	</outputEna2bled>
	
	
	<stackCollectionOutputEnabled config-class="org.anchoranalysis.plugin.io.bean.output.allowed.SpecificOutputAllowed">
		<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>chnlInput</item>
			<item>stackEllipses</item>
			<item>stackObjs</item>
		</outputsAllowed>
	</stackCollectionOutputEnabled>

	<objMaskCollectionOutputEnabled config-class="org.anchoranalysis.plugin.io.bean.output.allowed.SpecificOutputAllowed">
		<outputsAllowed config-class="org.anchoranalysis.bean.StringSet" config-factory="stringSet">
			<item>objsSgmn</item>
		</outputsAllowed>
	</objMaskCollectionOutputEnabled>
	
</experiment>
</config>